:root{
  --text-light: rgb(255, 255, 255);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html, body {
	height:100%;
	width: 100vw;
  max-width: 1200;
}

header {
  position: absolute;
  width: 100vw;
}

body {
  font-family: 'Lexend', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.bg-1{
  animation: bg-img 80s ease-in-out infinite;
  transition: all ease-out 2s;
  height: 100vh;
}

@keyframes bg-img{
  0%,100%{
    background-image: url(../images/chess.png);
  }
  16%{
    background-image: url(../images/plane.png);
  }
  32%{
    background-image: url(../images/engine.png);
  }
  48%{
    background-image: url(../images/building.png);
  }
  64%{
    background-image: url(../images/vw.png);
  }
  80%{
    background-image: url(../images/river.png);
  }
}


.char {
  transform: translateY(115px);
  transition: transform .5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.word {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}




/* ==== containers CSS ==== */

  .container {
  max-width: 1000px;
  margin: 0 auto;

 }

 .container-2 {
  max-width: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
 }

 .container-3 {
	height:100%;
	width: 100vw;
  max-width: 1200;
  margin: 0 auto;
 }

 .projects-con {
  max-width: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 0 20px 0 20px;
}

.projects-con .book_list{
  width: calc(30% - 20px);
  margin-bottom: 20px; 
  box-sizing: border-box; 
}


@media screen and (max-width:1100px){
  .projects-con {
    display: block;
    padding: 0 5px 0 25px;
  }
  .projects-con .book_list{
    width: calc(100% - 20px);
    margin-bottom: 20px; 
    box-sizing: border-box; 
  }

}








/* ===== highlights sec ===== */

 

div{
  font-family: 'lexend',serif;
}

.highlight-sec{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);

}

.highlight{
  list-style: none;
  position: relative;
}
.highlight-sec .highlight .highlight-box{
  background-color:#000000;
  color:#f0f0f0;
  text-align:left;
  padding:4em;
}

.highlight-box h2 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 20px;
}

.highlight-box p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}








/* ==== header ==== */

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}
.site-header { 
  padding: 2em 8em;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(3px 3px 5px #000000);
 }





header img {
  width: 60px;
  height: auto;
}


.site-navigation ul, 
.site-navigation li {
  top: 50%;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}





/* ===== hero sec ===== */

#hero {
  display: grid;
  justify-content: center;
  text-align: center;
  height:90vh;
  }
  

#hero h2 {
  padding-top: 6em;
  position: relative;
  font-weight: 400;
  font-size: 56px;
  overflow: hidden;
  filter: drop-shadow(5px 5px 13px #000000);
 }
 



#hero h3 {
  font-weight: 300;
  font-size: 22px;
}



/* ====== banner ===== */
#banner-1 {
  color: #000000;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 5em 0 5em 0;
}

#banner-1 h3 {
  font-weight: 300;
  margin: 0 4rem 0 4rem ;  
}

#banner-1 h2 {
  font-size: 36px;
  font-weight: 500;
}










/* ==== projects sec ==== */

#projects-title {
  color: #000;
  padding: 50px 0px 0px 80px;
}













/* ==== testimonial sec ==== */

#banner-2 {
  color: #000000;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 5em 0 3em 0;
}

#banner-2 h3 {
  font-weight: 300;
}

#banner-2 h2 {
  margin-bottom: 1em;
  font-size: 36px;  
  font-weight: 500;

}

#test-sec {
  color: #000;
  text-align: center;
  padding: 0 0 6rem 0;
}

 
.book_list {
  background-color: #000000;
  box-shadow: 0 0 15px rgba(48, 48, 48, 0.546);
  display: grid;
  place-items: center;
  overflow: hidden;
  padding: 25px 0px 50px 0px;
  text-align: center;
  width: 100%;
}

.book_list img {
  max-width: auto;
  height: auto;
  margin-bottom: 15px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.546);

}

.book_list h2 {
  color: #ffffff;
  margin: 10px 0;
  font-weight: 400;
  display: inline-block;
}

.book_list h3 {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
}

.book_list a {
  border: solid rgb(255, 255, 255) 2px;
  background-color: #000000;
  color: #ffffff;
  filter: drop-shadow(0px 10px 0px #ffffff);
  padding: 10px 25px 10px 30px;
  text-decoration: none;
  font-weight: light;
  transition: ease-in-out .1s;
}

.book_list a:hover {
  filter: drop-shadow(0px 0px 0px #ffffff);
  background-color: #ffffff;
  color: #000;
  transition: ease-in-out .1s;
}



.reviews, .projects {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.testimonial {
  flex: 1;
  background-color: #000000;
  padding: 30px;
  margin: 30px;
  color: #fff;
  text-align: left;
  filter: drop-shadow(0px 0px 3px #00000034);
}
.testimonial h2 {
  margin-top: 0;
  padding: 70px 0 2px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  
}
.testimonial p {
  margin-top: 0;
  font-weight: 300;
}
.testimonial p span {
  font-size: 33px;
}

#white-card {
  background-color: #fff;
  color: #000;
}


@media (max-width: 768px) {
  .reviews {
    display: block;
  }

}




#info {
  text-align: center;
}
#info a {
  color: #fff;
  text-transform: uppercase;
  position: fixed;
  bottom: 15px;  
}















.study-step:hover > .pop {
  opacity: 1;
  width: 450px;
  height: 250px;
  transform: translate3d(20px, 0, 0);

}

.study-step-2:hover > .pop {
  opacity: 1;
  width: 450px;
  height: 250px;
  transform: translate3d(-20px, 0, 0);

}

.pop {
  opacity: 0;
  width: 0;
  height: 0;
  background: #080808;
  z-index: -1;
  margin: auto;
  transition: all 0.6s ease;
  filter: drop-shadow(0px 0px 4px #0000005e);

  
}
.pop > p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: 'lexend';
  padding: 10px;
}

.pop > h2 {
  margin-left: 10px;
  color: #fff;
  font-size: 220px;
}

















/* ==== footer ==== */

.map {
  background-color: #000;
}
.column-footer {
  float: left;
  padding: 10px;
}

.wrapper-footer {
  color: #ffffff;
  background: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}




/* Middle Column Starts Here */
.middle {
  width: 50%;
  padding: 20px;
  border: solid 1px white;
}

.middle i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.middle i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.middle p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.middle p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.middle p a {
  color: #ffffff;
  text-decoration: none;
}




/* Right Column Starts Here */
.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.right img {
  float: right;
}

.right h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.right h2 span {
  color: #0099ff;
}


.right .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}



.row-footer:after {
  content: "";
  display: table;
  clear: both;
}


.footer-bottom {
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 14px;
  font-weight: 200;
  background-color: white;
  color: black;
}

.footer-bottom a {
  color: #000;
}




@media screen and (max-width: 768px) {
  .column-footer {
    width: 100%;
  }

  .middle {
    max-width: 100%;
  }

  .right, .left {
    display: none;
  }

  .column {
    width: 100%;
  }

  .wrapper-footer {
  padding: 20px;
  }
}


#map {
  height: 400px;
}


















/* ============ projects page ============= */


#study-sec {
  color: #000;
  text-align: center;
  padding: 5rem 0 6rem 0;
}

.study-box {
  float: left;
  width: 29%;
  border: #000 solid 5px;
  margin: 20px;
}

.case-study {
  z-index: 1;
}

.case-study, .case-study-2 {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.case-study-2 {
  margin-top: 40px;
}
.study-step, .study-step-2 {
  flex: 1;
  margin: 15px 20px 15px 20px;
  height: 300px;
  text-align: left;
  transition: all ease-out .5s;
}


.study-step img, .study-step-2 img {
  filter: drop-shadow(0px 0px 4px #0000005e);
  transition: all ease-out .8s;
}

.study-step h2, .study-step-2 h2 {
  margin-top: 0;
  padding: 20px 0 2px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}



#step-2, #step-5{
  margin-top: 60px;
}

#step-3, #step-6 {
  margin-top: 110px;
}

#final-proj img {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 100px;
  filter: drop-shadow(0px 0px 6px #00000067);
}

.study-step:hover img{
  opacity: .3;
  transform: translate3d(20px, 0, 0);
  transition: all ease .5s;
}

.study-step-2:hover img{
  opacity: .4;
  transform: translate3d(-20px, 0, 0);
  transition: all ease .5s;
}

#final-proj-box {
}


@media (max-width: 768px) {
  .case-study, .case-study-2{
    display: block;
  }

}









/* ========= about page ========== */

.about-box {
  max-width: 1000px;
}
#about-con {
  color: #000000;
  display: grid;
  justify-content: center;
  text-align: left;
  padding: 5em 0 5em 0;
}

#about-con h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 36px;  
  font-weight: 500;
}

#about-con h3 {
  font-weight: 300;
  padding: 30px;
}

#about-con p {
  padding: 30px;
  text-align: center;
}

#cta{
}

#btn-box {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 180px;
  margin: 0 auto;
  font-family: 'lexend';

}

.btn {
	padding: 0.6em 1.5em;
	border: 3px solid #232529;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
  font-size: 1.25em;
}


.btn:hover, .btn:focus {
	background: #232529;
	color: #fff;
}

.vd {
  padding: 10px;
  margin-top: 50px;
}



@media screen and (max-width: 760px) {
  .column, .column-2 {
    width: 100%;
    justify-content: space-between;
  }

  .site-header { 
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
  }

  #hero {
    padding-top: 2em;
  }

  #hero h2 {
    margin-top: 10em;
    font-size: 30px;
  }

  #hero h3 {
    display: none;
  }

  #hero h2 {
    text-align: left;
    padding: 0 45px 0 45px  }

  #banner-1 h3 {
    text-align: center;
  }



}




.gallery{
  display: grid;
  margin-inline: auto;
  max-width: 100vw;
  background: rgb(255, 255, 255);
  padding-bottom: 8rem
}



#gal {
  margin-bottom: 50px;
}

.gallery > img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all 0.3s ease;
}

.gallery:has(img:hover) img:not(:hover) {
  scale: 0.8;
  opacity: 0.5;
  filter: grayscale(70%);
  
}



@media(min-width: 480px){
  .gallery{
    grid-template-columns: repeat(1, 1fr); 
  }
}

@media(min-width: 760px){
  .gallery{
    grid-template-columns: repeat(3, 1fr); 
  }
}


/* form style */
.contact-form {
  padding: 50px 20px;
  text-align: center;
}

.contact-form h2 {
  margin-bottom: 1em;
  font-size: 36px;
  font-weight: 500;
}

.contact-form form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form label {
  display: block;
  font-family: 'Lexend', sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select 
{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.contact-form input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}


.contact-form button {
  border: solid rgb(255, 255, 255) 2px;
  background-color: #000000;
  color: #ffffff;
  filter: drop-shadow(0px 10px 0px #ffffff);
  padding: 10px 25px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  margin: 40px 0px 40px 0px;
  font-weight: light;
  transition: ease-in-out .1s;
}

.contact-form button:hover {
  filter: drop-shadow(0px 0px 0px #ffffff);
  background-color: #ffffff;
  color: #000;
  transition: ease-in-out .1s;
}

.contact-form fieldset {
  margin: 30px 0px 20px 0px;
  border: none;
}

.contact-form fieldset legend {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}






.hero-section{
  align-items: flex-start;
  background-color: white;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  margin-top: 30px;
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card-background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover 
.card-background{
  transform: scale(1.1) translateZ(0);
}

.card-grid:hover > 
.card:not(:hover) 
.card-background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}


.card-content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card-category{
  color: var(--text-light);
  font-size: 1.1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card-heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  
}





@media(min-width: 480px){
  .card-grid, .highlight-sec{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 760px){
  .card-grid, .highlight-sec{
    grid-template-columns: repeat(4, 1fr); 
  }
}

