p, h1, h2, h3 {
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 16px;
}


:root{
  --text-light: rgb(255, 255, 255);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}